.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%
}

main {
  flex: 1;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  padding: 15px;
  background-color: #fff;
}

section {
  background-color: hsl(0, 30%, 95%);
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px hsl(0, 100%, 5%);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.style-controls {
  display: flex;
  flex-direction: column;
  position: sticky;
  right: 0;
  margin: 50px 25px 50px 25px;
  padding: 10px;
  border-radius: 8px;
  height: auto;
  width: 300px;
  box-shadow: 0 0 10px 2px hsl(0, 10%, 80%);
}

.styleInputSubmit {
  height: auto;
  align-self: flex-end;
  margin: 0;
  width: auto;
  background-color: white;
  border: none
}

.styleInputSubmit:disabled {
  opacity: .5;
}

/* .styleInputSubmit:disabled svg {
  /* filter: grayscale(100%); */
/* } */

.styleInputForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.styleInputFieldContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%
}

.styleInputField {
  width: 100%;
  font-size: large;
}

.styleInputField:focus {
  outline: none;
}

.styleInputContainer {
  /* border: solid gray .5px; */
  /* box-shadow: 0px 0px 5px gray; */
  display: flex;
  margin: 0px;
  width: 100%;
}